<header class="header">
      <div class="header_background__herkunft">
        <div class="header__navbar">
          <a href="../index.html"><img class="img_logo" src="../images/Logo.svg" alt="LOGO" /></a>
          <button class="open-nav">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
        </button>
        </div>
        <div class="nav-overlay hidden">
          <div class="navlinks">
            <a class="nav-link" href="../index.html">Start</a>
            <a class="nav-link" href="cafe.html">Das Café</a>
            <a class="nav-link" href="herkunft.html">Herkunft</a>
            <a class="nav-link" href="../shop/index.html">Shop</a>
          </div>
      </div>
        <div class="header__navbar_desktop">
          <div class="header__navbar_desktop--logo">
            <a href="../index.html"><img class="img_logo" src="../images/Logo.svg" alt="LOGO" /></a>
          </div>
          <div class="header__navbar_desktop--menu">
            <a class="link-header" href="cafe.html">das Café</a>
            <a class="link-header" href="herkunft.html">Herkunft</a>
            <a class="link-header" href="../shop/index.html">Shop</a>
            <img src="../images/shopbag.svg" alt="warenkorb">
          </div>
        </div>
      </div>
    </header>