<section class="rustica_standort">
        <div class="rustica_standort_header">
          <h2>Komm vorbei</h2>
        </div>
        <div class="rustica_standort_karte">
          <iframe class="rustica_standort_karte_iframe" src="https://www.openstreetmap.org/export/embed.html?bbox=10.12020525856038%2C54.34092457074384%2C10.124204432201585%2C54.342531944065584&amp;layer=mapnik&amp;marker=54.341728265261%2C10.12220484538102"></iframe>
          <br/>
          <p class="link-map"><a class="link-map" href="https://www.openstreetmap.org/?mlat=54.34173&mlon=10.12220#map=19/54.34173/10.12220" target="_blank">Größere Karte anzeigen</a>
          </p>
        </div>
      </section>